<h1>フォローしている人</h1>


  
<%= @user %> followings list
     <ul >
         <% @followings.each do |user| %>
         <li>
             <%= link_to 'gravatar_for(user)',
                 user_path(user) %> 
         </li>
    
     </ul>
<% end %>     
     
 